@model Auctioneer.ViewModels.AuctionsByYearViewModel

@{
    ViewData["Title"] = "Auctions By Year";
}
<partial name="_ReportsHeaderPartial" />

<h1>Auctions By Month</h1>

<form asp-action="AuctionsByYear" asp-controller="Reports">
    <input type="month" name="startYear" />
    <input class="btn btn-primary" type="submit" value="Show Yearly reports" />
</form>
@foreach (var month in Model.AuctionsByYear)
{
<table class="table">
    <caption style="caption-side:top; ">
        @month.SelectedMonth.ToString("MMMM")
    </caption>
    <caption style="caption-side:top; ">
        @month.SelectedMonth.ToString("yyyy")
    </caption>

    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Auction Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var brand in month.AuctionsByBrand)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelBrand => brand.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelBrand => brand.Number)
                </td>
            </tr>
        }
    </tbody>
</table>
}
