@model Auctioneer.Models.Auction

@{
    ViewData["Title"] = "Admin";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Administration</h2>
        </div>
    </div>
    <br /><br />
    <div class="row">
    <div class="col-6">
        <a asp-action="CarBrands" class="btn btn-block btn-primary"> Edit Car Brands </a>
    </div>
    <div class="col-6">
        <a asp-action="CarFeatures" class="btn btn-block btn-primary"> Edit Car Features </a>
    </div>
        </div>
</div>