
@{
    ViewData["Title"] = "Admin";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Administration</h2>
        </div>
    </div>
    <br /><br />

    <partial name="_AdministrationHeaderPartial" />
</div>
<script>
    document.getElementById("defaultOpen").click();
</script>