@model Auctioneer.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Administration</h2>
        </div>
    </div>
    <br /><br />

          <div class="row">
              <a class="btn  btn-primary text-light tablink" asp-controller="Admin" asp-action="CarBrands" id="defaultOpen">Edit Car Brands</a> &nbsp;
              <a class="btn  btn-primary text-light tablink" asp-controller="Admin" asp-action="CarFeatures">Edit Car Features</a> &nbsp;
              <a class="btn  btn-primary text-light tablink" asp-controller="UserRoles" asp-action="Index">Edit User Roles</a> &nbsp;
              <a class="btn  btn-primary text-light tablink" asp-controller="Roles" asp-action="Index">Edit Roles</a> &nbsp;

          </div>
    </div>
<script>
    document.getElementById("defaultOpen").click();
</script>