<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-dark">Administration</h2>
    </div>
</div>
<br />
<br />

<div class="row">
    <a class="btn  btn-primary text-light" asp-controller="CarBrand" asp-action="Index" id="defaultOpen">Edit Car Brands</a> &nbsp;
    <a class="btn  btn-primary text-light" asp-controller="CarType" asp-action="Index">Edit Car Models</a> &nbsp;
    <a class="btn  btn-primary text-light" asp-controller="CarFeatures" asp-action="Index">Edit Car Features</a> &nbsp;
    <a class="btn  btn-primary text-light" asp-controller="UserRoles" asp-action="Index">Edit User Roles</a> &nbsp;
    <a class="btn  btn-primary text-light" asp-controller="Roles" asp-action="Index">Edit Roles</a> &nbsp;
</div>