@model Auctioneer.Models.CarFeatures

@{
    ViewData["Title"] = "CreateFeature";
}

<h1>Add a new Feature</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFeature">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarFeature" class="control-label"></label>
                <input asp-for="CarFeature" class="form-control" />
                <span asp-validation-for="CarFeature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

