@model Auctioneer.ViewModels.DepositsViewModel

@{
    ViewData["Title"] = "Add Funds";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add funds </h4>
        </div>
        <div class="card-body">
            @if (Model.Balance > 0)
            {
            <p class="text-success font-weight-bold">Your current account balance: $@Convert.ToDecimal(Model.Balance).ToString("#,##0.00")</p>
            }
            else
            {
                <p>You currently dont have any funds deposited.</p>
            }
        <form enctype="multipart/form-data" asp-action="AddFunds">
            <input asp-for="Balance" hidden />
            <span asp-validation-for="Balance" class="text-success"></span>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" placeholder="Please enter the amount">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add funds   " class="btn btn-success text-uppercase" />
                <a asp-action="Index" asp-controller="Auction" class="btn btn-danger ">Cancel</a>
            </div>


        </form>
            <p>

            </p>
        </div>
    </div>
</div>