@using Database.Models
@model List<Auctioneer.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Admin";
}

<div class="container p-3">
    <partial name="_AdministrationHeaderPartial" />
    <h1>User Roles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            @if (role == "Admin")
                            {
                                <span class="badge badge-danger">Admin</span>
                            }
                            else
                            {
                                <span class="badge badge-warning"> @role</span>
                            }
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary float-right" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>