@model Auctioneer.ViewModels.BidViewModel

    @{
        ViewData["Title"] = "Place Bid";
    }
    <div class="col-md-14 mx-auto py-4">
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Place bid </h4>
            </div>
            <div class="card-body">
                <span asp-validation-summary="All"></span>
                <form enctype="multipart/form-data" asp-action="Create">
                    <partial name="_AuctionDetailsPartial" for="@Model" />
                    <input asp-for="AuctionID" hidden />
                    <input asp-for="UserLastBid" hidden />
                    <input asp-for="Balance" hidden />
                    <input asp-for="MaxBid" hidden />
                    <input asp-for="MinBid" hidden />
                    <input asp-for="CurrentBid" hidden />
                    <input asp-for="Gallery" hidden />
                    <input asp-for="Title" hidden />
                    <input asp-for="Description" hidden />
                    <input asp-for="CreationDate" hidden />
                    <input asp-for="Duration" hidden />
                    <input asp-for="Brand" hidden />
                    <input asp-for="Type" hidden />
                    <input asp-for="AuctionOwner" hidden />
                    <input asp-for="AuctionWinner" hidden />
                    <p class="text-success font-weight-bold">Current Account balance:  $@Convert.ToDecimal(Model.Balance).ToString("#,##0.00")</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Amount"></label>
                                <input asp-for="Amount" class="form-control" placeholder="Please enter the amount that you would like to bid" autofocus>
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Place bid" class="btn btn-success text-uppercase" />
                        <a asp-action="Index" asp-controller="Auction" class="btn btn-primary "> Back to auctions</a>
                    </div>


                </form>
                <p>

                </p>
            </div>
        </div>
    </div>