@model Auctioneer.ViewModels.AuctionsViewModel
@{
    ViewData["Title"] = "Live Auctions";

}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Live Auctions</h2>
        </div>
        <div class="col-6">
            <a asp-action="ExpiredAuctions" class="btn btn-primary float-right"> Finished auctions </a>
        </div>
    </div>
    <br /><br />

    @if (Model.Auctions.Count() > 0)
    {
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-12">
                    @foreach (var obj in Model.Auctions.OrderByDescending(d => d.CreationDate))

                    {
                        <partial name="_AuctionDetailsPartial" for="@obj" />
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>There are no active auctions at the moment.</p>
    }

</div>


